---
import config from '../user-content.json'
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Divider from '../layouts/Divider.astro';
import Subdivider from '../layouts/Subdivider.astro';
import ProfileMedia from '../components/ProfileMedia.astro';
import ProfileBio from '../components/ProfileBio.astro';
import ProfileTag from '../components/ProfileTag.astro';
import ProfileSocial from '../components/ProfileSocial.astro';
import ThemeChanger from '../components/ThemeChanger'
//Cards
import BigImageCard from '../components/cards/BigImageCard.astro';
import CarouselCard from '../components/cards/CarouselCard.astro';
import TextCard from '../components/cards/TextCard.astro';
import CollapseCard from '../components/cards/CollapseCard.astro';
import HorizontalCard from '../components/cards/HorizontalCard.astro';
import IconButton from '../components/cards/IconButton.astro';
import ImageCard from '../components/cards/ImageCard.astro';
import SimpleButton from '../components/cards/SimpleButton.astro';
import SimpleCard from '../components/cards/SimpleCard.astro';
import SimpleSocialCard from '../components/cards/SimpleSocialCard.astro';
import YoutubeCard from '../components/cards/YoutubeCard.astro';
import PayOptions from '../components/paylink/PayOptions';
//Images
import bitnautas1 from '/images/bitnautas-1.webp'
import bitnautas2 from '/images/bitnautas-2.webp'
import bitnautas3 from '/images/bitnautas-3.webp'
import cucoders from '/images/cucoders.webp'
import emanager from '/images/emanager.webp'
import criscoart from '/images/criscoart.webp'
import cucoders_article from '/images/cucoders_article.webp'
import hive_article from '/images/hive_article.webp'
import paycard_img from '/images/paycard.webp'
import inflation_article from '/images/inflation_article.webp'
---

<Layout title="Welcome to Astro.">
	<main>
		<ThemeChanger client:only="react" />
		<section>
			<ProfileMedia />
			<ProfileBio name={config.bio.name} bio={config.bio.description} />
			<ProfileTag tags={config.tags}/>
			<ProfileSocial social={config.social}/ >
		</section>
		<Divider title='Mis Proyectos'>
			<ImageCard 
				title="Paycard"
				description="Paycard es un unificador de métodos de pago totalmente gratuito y de código abierto. Cuenta con más de 20 métodos de pago, Paycard presenta una interfaz de usuario agradable y única con soporte para modo oscuro automático."
				picture={{
					'content': paycard_img,
					'alt': 'mockup sobre el proyecto paycard',
				}}
				button={{
					'label': 'Github',
					'link': 'https://github.com/mybess00/paycard'
				}}/>
			<HorizontalCard
				title='eManager App'
				description='Una aplicacion Android para administrar los servicios de Etecsa de una manera minimalista. Cuenta con todas las herramientas necesarias para hacer un uso rápido e intuitivo de los servicios móviles en Cuba.'
				picture={{
					'content': emanager,
					'alt': 'imagen promocional de emanager app',
				}}
				button={{
					'label': 'Visitar',
					'link': 'https://emanager-web.vercel.app/'
				}}/>
			<TextCard 
				title="Frame it!"
				description="Frame it te permite enmarcar y personalizar tus tweets favoritos de forma sencilla. Puede elegir entre varios diseños y opciones de personalización para que sus tweets sean únicos. (En desarrollo)"
				button={{
					'label': 'Visitar',
					'link': '#'
				}}/>
			
		</Divider>
		
		<Divider title='Comunidades recomendadas'>
			<SimpleSocialCard
				title='CuCoders'
				description='Es una plataforma y comunidad para potenciar el desarrollo de software en Cuba y apoyar a los desarrolladores y emprendedores en su carrera profesional.'
				picture={{
					'content': cucoders,
					'alt': 'foto de cucoders con su logo',
				}}
				icons={{
					'globe2': 'https://cucoders.dev',
					'telegram': 'https://t.me/CuCodersComunidad',
					'twitter': 'https://twitter.com/CuCoders_',
					'github': 'https://github.com/cucoderscommunity'
				}}/>
			<CarouselCard
				title='BitNautas'
				description='Es una comunidad en Cuba relacionada con las criptomonedas y la tecnología blockchain. Su objetivo principal es enseñar a la comunidad el uso y las ventajas de Bitcoin, las criptomonedas y la blockchain.'
				button={{
					'label': 'Telegram',
					'link': 'https://t.me/bitnautas_cu'
				}}
				picture={[
					{
						'content': bitnautas1,
						'alt': 'bitnautas portada no. 1' 
					},
					{
						'content': bitnautas2,
						'alt': 'bitnautas portada no. 2' 
					},
					{
						'content': bitnautas3,
						'alt': 'bitnautas portada no. 3' 
					},
				]}/>
		</Divider>

		<Divider title='Videos Recomendados'>
			<YoutubeCard 
				title='Si eres programador mira esto' 
				link='https://www.youtube.com/watch?v=ILS4yYrxY6s'/>
			<YoutubeCard 
				title='El estigma de la edad en la programación' 
				link='https://www.youtube.com/watch?v=zjfP_8wHwYk'/>
		</Divider>

		<Divider title='Arte, Cultura y Entretenimiento'>
			<BigImageCard
				title='Crisco Art'
				description='The artist who paint the Light 💡🎨'
				picture={{
					'content': criscoart,
					'alt': 'Imagen de Instagram de criscoart',
				}}
				button={{
					'label': 'Visitar',
					'link': 'https://www.instagram.com/criscoart/'
				}}/>
			<Subdivider>
				<IconButton
				title='Arquitectura y Tradición'
				icon='twitter'
				link='https://twitter.com/archi_tradition'/>
			
				<SimpleButton
					title="Titulo"
					link='www.google.com'/>
				<CollapseCard
					title='Entérate todo sobre el fútbol'
					subtitle='Daguito Valdés'
					description='Creador y Conductor de YO HABLO FUTBOL, el Canal de Fútbol en Youtube #1 en Cuba.'
					button={{
						'label': 'Youtube',
						'link': 'https://www.youtube.com/@yohablofutbol'
					}}/>
			</Subdivider>
		</Divider>

		<Divider title='Artículos Recomendados'>
			<Subdivider>
				<ImageCard
					title='¿Cómo refugiarse de la inflación?'
					description='El alza de precios y divisas junto a la devaluación de la moneda local ha provocado un empobrecimiento en gran parte de la población y un aumento considerable de la inflación. Conoce las principales vías que existen para refugiarse de la inflación.'
					picture={{
						'content': inflation_article,
						'alt': 'portada del articulo sobre la inflacion',
					}}
					button={{
						'label': 'Visitar',
						'link': 'https://twitter.com/bitnautas_cu/status/1555262433459060738?t=5Gh9O0RVf2PDlN42Wb3lLg&s=19'
					}}/>
				<HorizontalCard
					title='¿Cómo funciona la blockchain? Su uso fuera de las criptomonedas.'
					description='La blockchain es la tecnología en la que están construidas las criptomonedas. Si quieres conocer su funcionamiento dentro y fuera de las criptomonedas, estás en el luhar correcto.'
					picture={{
						'content': hive_article,
						'alt': 'Portada del artículo de Hive de Bitnautas',
					}}
					button={{
						'label': 'Visitar',
						'link': 'https://hive.blog/crypto/@bitnautas/como-funciona-la-blockchain-su-uso-fuera-de-las-criptomonedas'
					}}/>
			</Subdivider>
			<SimpleCard
				title='Crear un proyecto de software sin inversión inicial. Descubre las herramientas gratuitas más efectivas'
				description='Emprender un proyecto de software sin inversión inicial es más accesible que nunca, gracias a una amplia gama de herramientas disponibles que ofrecen planes gratuitos o freemium.'
				picture={{
					'content': cucoders_article,
					'alt': 'Foto de portada del articulo de CuCoders',
				}}
				button={{
					'label': 'Visitar',
					'link': 'https://cucoders.dev/publicaciones/manuelernestog/crear-un-proyecto-de-software-sin-inversi-n-inicial-descubre-las-herramientas-gratuitas-m-s-efectivas/'
				}}/>
		</Divider>

		<PayOptions client:only title="Dona un café al desarrollador" options={config.payOptions}/>
	</main>
	<Footer />
</Layout>

<style>
	main {
		@apply rounded-2xl desktop:my-4 desktop:mx-48 tablet:mx-20 no-mobile:shadow-[0_25px_60px_7px_rgba(0,0,0,0.35)] no-mobile:ring-1 no-mobile:ring-base-200 pb-4
	}
</style>